body {
  padding: 10px 0px 10px 10px;
  margin: 0 10%;
  min-height: 100vh;
  background-color: #cbffb3;
}
.mrq {
  padding: 20px;
  background-color: #b7ffff;
  border-style: groove;
  border-width: 1px;
}
.mainHeader {
  font-size: 36px;
  margin-top: -5px;
  margin-bottom: -5px;
  font-variant: small-caps;
}
.navigation {
  border-style: ridge;
  border-width: 2px;
  border-color: black;
  margin-top: 10px;
  padding: 5px;
}
.message {
  background-color: #d7ffff;
  padding: 20px;
  border-style: ridge;
  border-radius: 15rem;
  margin-bottom: 5px;
}
.messageForm {
  background-color: azure;
  padding: 10px;
  border-color: black;
  border-style: solid;
}
.messageForm input {
  margin-bottom: 10px;
}
